.okBtn {
    background-color:#00a61c;
    position:fixed;
    padding:30px;
    font-size:300%;
    top:70%;
    left:70%;
    border-radius:12px;
    transition:0.3s;
    display: block;
}
.okBtn:hover {
    transition:0.3s;
    background: #007514;
    cursor:pointer;
}

.okBtn:active {
    transition:0s;
    background:#00520e;
}
.no {
    display:none;
}
