@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
:root{
    --body-color: #0f0f0f;
    --heading-color: #8b97c6;
    --text-color: white;
    --_card-bg: #252a41;
    --_card-color: white;
    --github-color: white;
    --_cardp-b: white;
    --box-shadow: white;
    --box-bg: black;
}
.dark{
    --body-color: #fff;
    --heading-color: #1e202a;
    --text-color: #63687e;
    --_card-bg: #f0f2fa;
    --_card-color: #1e202a;
    --github-color: #171515;
    --_cardp-b: black;
    --box-shadow: black;
    --box-bg: white;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    height: 100vh;
    background-color: var(--body-color);
    font-family: 'Nunito', sans-serif;
    transition: 0.5s ease-in-out;
}
.fas{
    cursor: pointer;
    position: absolute;
    margin: 2rem 0 2rem 4rem;
    color: var(--heading-color);
    transform: rotate(-25deg);
}
.fa{
    width: auto;
    margin: 0px auto;
    text-align: center;
}
.fa-moon{
	color: lightgray;
}
.fa-sun{
	color: #f39c12;
}
.fa-github{
    color: var(--github-color);
}
.fa-facebook{
    color: #3B5998;
}
.fa-instagram{
    color: #bc2a8d;
}

#_card a{
    text-decoration: none;
    font-size: 10px;
    color: var(--_card-color);
}
#_card{
    font-size: 10px;
    color: var(--_card-color);
}
#_cardp{
    font-size: 10px;
    min-height: 575px;
    color: var(--_card-color);
    border-radius: 50px;
    margin: 0rem 0rem 2rem 0rem;
    border-top: dotted 2px var(--_cardp-b);
    border-bottom: dotted 2px var(--_cardp-b);
}
#_cardp:hover{
    outline: none;
    box-shadow: 0 0 21px var(--_cardp-b);
    border: none;
}
.links{
    width: auto;
    height: auto;
    text-align: center;
}
.links a{
    text-decoration: none;
}
#profilpicure{
    margin: 1rem;
    border-radius: 50%;
}
.row{
    margin-top: 2rem;
}

/*kérdés*/
#box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: var(--box-bg);
    box-sizing: border-box;
    box-shadow: 10px 10px 25px var(--box-shadow);
    border-radius: 10px;
}
#box h2{
    margin: 2rem 2rem 2rem 0rem;
    color: var(--text-color);
    text-align: left;
}
#box #input-box{
    position: relative;
}
#box #input-box input{
    width: 100%;
    padding: 10px 0px;
    font-size: 16px;
    color: var(--text-color);
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 1px solid var(--text-color);
}
#box #input-box label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0px;
    font-size: 16px;
    color: var(--text-color);
    transition: .5s;
}
#box #input-box input[name="email"]:focus ~ label,
#box #input-box input[name="email"]:hover ~ label,
#box #input-box input[name="email"]:not(:placeholder-shown) ~ label{
    top: -18px;
    left: 0px;
    color: #8b97c6;
    font-size: 12px;
}
#box #input-box input:focus ~ label,
#box #input-box input:hover ~ label,
#box #input-box input:valid ~ label{
    top: -18px;
    left: 0px;
    color: #8b97c6;
    font-size: 12px;
}
#box input[type="submit"]{
    margin-bottom: 1rem;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    background: gray;
    padding: 10px 20px;
    border-radius: 5px;
    cursor:pointer;
}
#box input[type="submit"]:hover{
    background-color: lightgray;
    color: gray;
}