@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
a{
    text-decoration: none;
    color: rgb(255, 187, 0);
}
a:hover{
    color: rgb(255, 123, 0);
}
body{
    background-color: #0f0f0f;
    color:white;
    font-family:'Montserrat', sans-serif;
}
#cim{
    margin-left: 15px;
    float: right;
}
#bejel{
    float: right;
}
#menu{
    width: 20% !important;
    margin-right: 2px;
    position: relative; /* ezeket majd az előző ikts cuccról lelesem */
}
h1 {
    font-size:350%;
}
